* {
  box-sizing: border-box;
  margin: 0;
}

body {
  width: 100%;
  min-height: 100vh;
}

.title {
  width: 100%;
  min-height: 80px;
  margin-bottom: 40px;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  align-content: center;
  background-color: #ffccbc;
}

.title-logo {
  font-size: 30px;
  font-weight: 700;
}

.title-login {
  width: 70px;
  height: 30px;
  border-radius: 10px;
  border: none;
}

.main-top {
  width: 100%;
  min-height: 100vh;
  margin: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.box-img {
  width: 100%;
  height: 150px;
  background-image: url(https://placekitten.com/100/100);
  background-position: center center;
  background-size: contain;
  margin-bottom: 10px;
}

.box {
  width: 250px;
  height: 300px;
  border: 1px solid black;
  margin-right: 20px;
  margin-bottom: 30px;
}

.bottom {
  width: 100%;
  min-height: 80px;
  background-color: lightgray;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.bottom1 {
  margin-right: 30px;
  font-weight: 400;
}

.box-title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}

.box-desc {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 40px;
}

.box-profile {
  width: 100%;
  min-height: 15px;
  font-size: 12px;
  border-top: 1px solid gray;
}

.find {
  width: 87%;
  height: 30px;
  margin: 0 0 0 110px;
  position: relative;
}

.find-new,
.find-popular,
.find-week {
  display: inline-block;
  font-weight: 700;
}

.find-new::after,
.find-popular::after,
.find-week::after {
  content: '';
  display: block;
  width: 70px;
  border-bottom: 1px solid lightblue;
}

.find-desc {
  display: flex;
  width: 100px;
  flex-direction: row;
  flex-wrap: nowrap;
}

.find-icon {
  position: absolute;
  top: 0;
  right: 0;
}
